<?xml version="1.0" encoding="UTF-8" ?>
<!-- DTD는 XML 문서의 구조를 정의하는 문서(Root 요소의 이름: configuration) -->
<!-- dtd는 syntax 검사용 -->
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
    </typeAliases>
</configuration>